numpy>=1.17.2
tensorflow>=1.14.0
tensorflow-gpu>=1.14.0
torch>=1.4.0
scipy>=1.4.1
tqdm>=4.43.0
pandas>=0.25.2
yaml>=0.1.7
pyyaml>=5.1.2
gensim>=3.8.1
statsmodels>=0.10.1
matplotlib>=3.1.2
seaborn>=0.10.0